/* PianoDarkTheme */

.PianoDarkTheme .ReactPiano__Key--accidental {
  background: #025d7d;
  border: 1px solid #888;
}
.PianoDarkTheme .ReactPiano__Key--natural {
  background: #013243;
  border: 1px solid #888;
  margin-right: 0;
}

.ReactPiano__Key--active.ReactPiano__Key--accidental {
  background: #F00;
}
.ReactPiano__Key--active.ReactPiano__Key--natural {
  background:#00FF00;
}

.PianoDarkTheme .ReactPiano__Key--active.ReactPiano__Key--accidental {
  background: #F00;
}
.PianoDarkTheme .ReactPiano__Key--active.ReactPiano__Key--natural {
  background:#00FF00;
}

.AffichePartiton {
  background:#00FF00;
  border: 1px solid #888;

}
